.header {
  display: grid;
  grid-template-columns: 20% auto 20%;

  img {
    width: 60%;
    margin: auto;
    cursor: pointer;
  }
}

.expandable {
  cursor: pointer;
}

.content {
  width: 60%;
  margin: auto;
  text-align: justify;

  .team {

    img {
      width: 100%;
    }

    .member {
      
    display: grid;
    grid-template-columns: 2fr 6fr 1fr;
    grid-gap: 12px;
    margin-bottom: 12px;

    .description {
      .name {
        font-weight: bold;
      }
      font-size: 16px;
    }
    
      .linkedin {
        margin-top: 24px;
        img {
          width: 60px;
        }
      }
    }
  }
}

.lb-outerContainer {
  background: transparent;
}

.lightbox .lb-image {
  border-width: 0;
}

.partners-wrapper {
  overflow: hidden;
}

.partners {
  width: max-content;
  animation: slidein linear 16s infinite;
}

@keyframes slidein {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

.whitepaper {
  text-align: center;
  font-size: 20px;
  display: block;
}


.partner {
  display: inline-block;
}

.partnerInner {
  width: 200px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;    
  align-items: center;
  column-gap: 10px;

  span {
    width: 100%;
  }

  img {
    width: 100%;
  }
}

img {
  width: 100%;
}

.caption {
  margin: auto;
  font-size: 14px;
}