.header {
  display: grid;
  grid-template-columns: 20% auto 20%;

  img {
    width: 60%;
    margin: auto;
    cursor: pointer;
  }
}

.content {
  width: 60%;
  margin: auto;
  text-align: justify;

  .team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;

    img {
      width: 100%;
    }
    
    .linkedin img {
      width: 30px;
    }
  }
}

.lb-outerContainer {
  background: transparent;
}

.lightbox .lb-image {
  border-width: 0;
}