<div class="social_icons">
  <ng-container 
    [ngTemplateOutlet]="socialIcon" 
    [ngTemplateOutletContext]="{
      imageUrl:'assets/images/social/3d_hp/email.png',
      link:'mailto:holo@holopedia.eu',
      text:'Holopedia Tokens Email holo@holopedia.eu'
    }">
  </ng-container>
  <ng-container 
    [ngTemplateOutlet]="socialIcon" 
    [ngTemplateOutletContext]="{
      imageUrl:'assets/images/social/3d_hp/youtube.png',
      link:'https://www.youtube.com/channel/UCWNLF3RM4gFTSu2ogMki7mA',
      text:'Holopedia Tokens YouTube TV'
    }">
  </ng-container>
  <ng-container 
    [ngTemplateOutlet]="socialIcon" 
    [ngTemplateOutletContext]="{
      imageUrl:'assets/images/social/3d_hp/twitter.png',
      link:'https://twitter.com/HolopediaL',
      text:'Holopedia Tokens Twitter News'
    }">
  </ng-container>
  <ng-container 
    [ngTemplateOutlet]="socialIcon" 
    [ngTemplateOutletContext]="{
      imageUrl:'assets/images/social/3d_hp/telegram.png',
      link:'https://t.me/holopedia',
      text:'Holopedia Tokens Telegram Messenger'
    }">
  </ng-container>
  <ng-container 
    [ngTemplateOutlet]="socialIcon" 
    [ngTemplateOutletContext]="{
      imageUrl:'assets/images/social/3d_hp/linkedIn.png',
      link:'https://www.linkedin.com/company/68682824/',
      text:'Holopedia Tokens LinkedIn Profile'
    }">
  </ng-container>
  <ng-container 
    [ngTemplateOutlet]="socialIcon" 
    [ngTemplateOutletContext]="{
      imageUrl:'assets/images/social/3d_hp/facebook.png',
      link:'https://www.facebook.com/holopedia/',
      text:'Holopedia Tokens Facebook Profile'
    }">
  </ng-container>
  <ng-container 
    [ngTemplateOutlet]="socialIcon" 
    [ngTemplateOutletContext]="{
      imageUrl:'assets/images/social/3d_hp/discord.png',
      link:'https://discord.com/channels/726389442453176352',
      text:'Holopedia Tokens Discord Community'
    }">
  </ng-container>
</div>

<ng-template #socialIcon let-imageUrl='imageUrl' let-link='link' let-text='text'>
  <div class="social_icon">
    <a [href]="link" target="_blank">
      <div class="image">
        <img [src]="imageUrl" [alt]="text">
      </div>
      <div class="caption">
        {{text}}
      </div>
    </a>
  </div>
</ng-template>

<div class="social-page" fxLayout="row" fxLayout.lt-md="column" fxFlexFill>
  <div class="youtube column-3" fxFlex="30">
    <div class="socialimage">
      <img src="assets/images/social/youtube.png" alt="">
    </div>
    <div class="aspect-ratio">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/B2LmcUsY-xM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div><br><br>
    <div class="aspect-ratio">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/OnncbSd7pG8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="aspect-ratio">
      <iframe src="https://www.youtube.com/embed/videoseries?list=PLZCHH_4VqpRhwzNjMBHJOcfdMhYZzC0K2" frameborder="0" allow="autoplay; encrypted-media"
        allowfullscreen></iframe>
    </div>
    <div class="aspect-ratio">
      <iframe src="https://www.youtube.com/embed/videoseries?list=PLBlBclZ8UNWYyUtcpXD6EAtU8iLnN20HI&index=13" frameborder="0"
        allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>

  <div class="facebook column-3" fxFlex="30">
    <div class="socialimage">
      <img src="assets/images/social/facebook.png" alt="">
    </div>
    <fb-page href="https://www.facebook.com/PHolopedia-749113741936284/" data-tabs="timeline"></fb-page>
  </div>
  <div class="twitter column-3" fxFlex="30" fxFlex.xs="100">
    <div class="socialimage">
      <img src="assets/images/social/twitter.png" alt="">
    </div>
    <ngx-twitter-timeline [data]="{sourceType: 'url', url: 'https://twitter.com/HolopediaTube'}" [opts]="{tweetLimit: 5}"></ngx-twitter-timeline>
    <ngx-twitter-timeline [data]="{sourceType: 'url', url: 'https://twitter.com/HolopediaL'}" [opts]="{tweetLimit: 5}"></ngx-twitter-timeline>
  </div>
</div>