
<div class="leftSide">
  <div class="starMenu">
    <div *ngFor="let item of starMenuItems" class="starMenuItem" [routerLink]="'/projects/'+item.name" [ngStyle]="item.style">{{item.name}}</div>
  </div>
  <div class="holoMandala" [ngStyle]="{'background-image': 'url(' + starBgUrl + ')'}">
    <app-coin *ngFor="let coin of coins" [coinObverse]="getHexSide(coin.ObverseSettings, '91%')" [coinReverse]="getHexSide(coin.ReverseSettings)"
      [subtitle]="'Quantum Foundation Quantum Qtum'" [obverseText]="coin.ObverseText" (click)="selectHex(obverse, $event)"></app-coin>
  </div>
  <div class="holoMandalaCaption">

  </div>
</div>
