<h1>Holopedia Princesses</h1>

<div class="game-controls">
  <label class="start-game" (click)="startGame()">Start</label>
  <label> Coins: {{score}}</label>
  <label> {{result}}</label>
</div>

<div class="game-content">
  <img src="assets/images/princesses/princess_left.png" alt="">
  <div class="color" [ngClass]="{'animate_left': animateLeft, 'animate_right': animateRight}">
    <div (click)="checkAnswer('left')" class="color_left"></div>
    <div (click)="checkAnswer('right')" class="color_right"></div>
  </div>
  <img src="assets/images/princesses/princess_right.png" alt="">
</div>