h1 {
  font-size: 60px;
}

.game-controls {
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center;

}

.start-game {
  width: 100px;
  margin: 30px auto;
}

.button {
  font-weight: bold;
  background: orange;
  padding: 3px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.continue-button {
  font-size: 40px;
  margin-top: 20px;
}

.overlay-content {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  line-height: 1.5;

  .round-result {
    font-size: 40px;
  }

  .subtext {
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .round-award {
    font-size: 32px;
  }

  .round-comment {
    font-size: 24px;
  }
}

.game-content {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  margin-bottom: 100px;

  img {
    width: 100%;
  }

  .color {
    cursor: pointer;
    position: relative;

    .color_left {
      background: red;
      display: inline-block;
      width: 50%;
      height: 100%;
    }
    .color_right {
      background: turquoise;
      display: inline-block;
      width: 50%;
      height: 100%;
    }
    
    .overlay {
      position: absolute;
      background: #ffffffcc;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }
  }

  .village_girl-intuition {
    animation-name: village_girl-flicker;
  }

  .maid-intuition {
    animation-name: maid-flicker;
  }

  .princess-intuition {
    animation-name: princess-flicker;
  }

  .animate_left {
    animation-duration: 0.085s;
    animation-iteration-count: infinite;
  }

  .animate_right {
    animation-duration: 0.065s;
    animation-iteration-count: infinite;
  }

}

@keyframes village_girl-flicker {
  0%   { opacity: 0.2; }
  49%   { opacity: 0.2; }
  50%  { opacity: 1; }
  100%  { opacity: 1; }
}

@keyframes maid-flicker {
  0%   { opacity: 0.4; }
  49%   { opacity: 0.4; }
  50%  { opacity: 1; }
  100%  { opacity: 1; }
}

@keyframes lady-flicker {
  0%   { opacity: 0.6; }
  49%   { opacity: 0.6; }
  50%  { opacity: 1; }
  100%  { opacity: 1; }
}

@keyframes duchess-flicker {
  0%   { opacity: 0.8; }
  49%   { opacity: 0.8; }
  50%  { opacity: 1; }
  100%  { opacity: 1; }
}

@keyframes princess-flicker {
  0%   { opacity: 0.8; }
  49%   { opacity: 0.8; }
  50%  { opacity: 1; }
  100%  { opacity: 1; }
}
