.pages {
  margin: 10px;
  min-height: 700px;
}



#holominer {
  position: fixed;
  right: 20px;
  top: 20px;
  background: #ffe5b4;
  border-radius: 6px;
  border: 1px solid #540101;
  color: #540101;
  width: 128px;
  height: 200px;
  line-height: 1.2;
  padding: 10px;
  z-index: 100;
}

.button {
  font-weight: bold;
  background: orange;
  padding: 3px 10px;
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
  margin-top: 5px;
}

.minerKitty {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 55px;
  display: none;

  img {
    width: 100%;
  }
}

.auto-threads {
  margin-top: 15px;
}

.slider {
  margin: 5px 0;
}

.startmine {
  margin-top: 10px;
}

input[type="range"] {
  margin-bottom: 10px;
}

input[type="range"]:disabled {
  opacity: 0.3;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb{
  -webkit-appearance: none;
  box-shadow: 1px 1px 1px #5c3f00, 0px 0px 1px #795303; /* Add cool effects to your sliders! */
  border: 1px solid #5c3f00;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  background: #ffc863;
  cursor: pointer;
  margin-top: -6px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #f3c672;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}