<div class="content" fxLayout="row" fxLayout.lt-md="column" fxFlexFill>
  <div class="navigation" fxFlex="20" fxFlex.lt-md="100">
    <div class="back-button" (click)="returnToMenu()">🡄 Back</div>
    <div class="addHologram">
        <input class="addHologramText" type="text" [(ngModel)]="hologramUrl">
        <button class="addHologramButton" (click)="addHologram()">add hologram</button>
      </div>
    <div class="categories">
      <div class="category" (click)="selectCategory()">
        All
      </div>
      <div class="category" *ngFor="let category of categories" (click)="selectCategory(category)">
        {{category}}
      </div>
    </div>
    <div class="holograms">
      <div class="hologram" *ngFor="let hologram of filteredHolograms" (mouseenter)="hologram.hovered = true" (mouseleave)="hologram.hovered = false">
        <div class="aspect-ratio hologram-icon">
          <div class="hologramOverlay" (click)="selectHologram(hologram)" *ngIf="hologram.hovered">
            <div class="icons">
              <div class="icon show">Show</div>
              <div class="icon fullscreen" (click)="isFullscreen = true">Full</div>
            </div>
          </div>
          <iframe [src]="hologram.url + '?showinfo=0&controls=0&autohide=1' | safe: 'resourceUrl'" frameborder="0"
            allow="autoplay; encrypted-media" allowfullscreen scrolling="no"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="pages" fxFlex="80">
    <div *ngIf="selectedHologram" class="aspect-ratio selected-hologram" [ngClass]="{'fullscreen': isFullscreen}">
      <div *ngIf="isFullscreen" class="fullscreen-hologram-topbar">
        <div class="closeButton" (click)="isFullscreen = false">X</div>
      </div>
      <iframe [src]="selectedHologram.url | safe: 'resourceUrl'" frameborder="0" allow="autoplay; encrypted-media"
        allowfullscreen></iframe>
    </div>
  </div>
</div>