<h1>HolopediaLi welcomes you</h1>

<div class="header">
  <h2>Share your favourite holograms!</h2>
</div>

<div class="addHologram">
  <input class="addHologramText" type="text" [(ngModel)]="hologramUrl">
  <button class="addHologramButton" (click)="addHologram()">add hologram</button>
  <div class="addHologramHint">Add youtube link f.ex: "https://www.youtube.com/watch?v=OnncbSd7pG8"</div>
</div>

<div class="holograms">
  <div class="hologram" *ngFor="let hologram of holograms" (mouseenter)="hologram.hovered = true" (mouseleave)="hologram.hovered = false">
    <div class="aspect-ratio hologram-icon">
      <div class="hologramOverlay" (click)="selectHologram(hologram)" *ngIf="hologram.hovered">
        <div class="icons">
          <div class="icon show">Show</div>
          <div class="icon fullscreen" (click)="isFullscreen = true">Full</div>
        </div>
      </div>
      <iframe [src]="hologram.url + '?showinfo=0&controls=0&autohide=1' | safe: 'resourceUrl'" frameborder="0" allow="autoplay; encrypted-media"
        allowfullscreen scrolling="no"></iframe>
    </div>
  </div>
</div>



