@import "../../../../styles/breakpoints";

.header {
  text-align: center;

  img {
    height: 160px;
  }
}

.add-hologram-wrap {
  width: 60%;
  margin: auto;
}

@include bp-down(sm) {
    .add-hologram-wrap {
        width: 90%;
      }
}



