<h1>HolopediaLi welcomes you</h1>

<div class="header">
    <h2>Share your favourite holograms!</h2>
</div>
<div class="add-hologram-wrap">
    <app-add-hologram></app-add-hologram>
</div>
<!-- <app-categories [categoriesNames]="projectsNames" [categoryType]="'project'"></app-categories> -->
<div class="categories">
    <span class="category spa">
      <div class="image">
        <img src="/assets/images/categories/trimmed/massage_stones.png" alt="">
        <div class="shadow"></div>
      </div>
        SPA Massage
    </span>
    <span class="category treatments">
      <div class="image">
          <img src="/assets/images/categories/trimmed/biofeedback.png" alt="">
          <div class="shadow"></div>
      </div>
        Treatments
    </span>
    <span class="category knowledge">
      <div class="image">
          <img src="/assets/images/categories/trimmed/knowledge.png" alt="">
        <div class="shadow"></div>
      </div>
        Knowledge
    </span>
</div>
<app-categories [categoriesNames]="sourcesNames" [categoryType]="'source'"></app-categories>

<app-holograms-list></app-holograms-list>