@import "../../../../styles/breakpoints";

.header {
  text-align: center;

  img {
    height: 160px;
  }
}

.add-hologram-wrap {
  width: 60%;
  margin: auto;
}

@include bp-down(sm) {
  .add-hologram-wrap {
    width: 90%;
  }
}

.categories {
  text-align: center;
}

.category {
  width: 20%;
  margin-right: 2%;
  display: inline-block;
  text-align: center;
  font-size: 24px;

  img {
    border-radius: 6px;
    border: 3px solid #4f0101;
    width: 100%;
  }
}
