@import "../../../../styles/breakpoints";

.holograms {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.hologram {
  display: contents;

  img {
    width: 100%;
    cursor: pointer;
  }

  @include bp-down(sm) {
    width: 50%;
  }

  &.sidebar {
    width: 50%;

    .icons {
      text-align: center;
      position: unset!important;
      left: 0!important;
      top: 0!important;
      transform: none!important;
    }
  }
}

.aspect-ratio {
  position: relative;

  &.selected-hologram {
    width: 100%;
    height: 0;
    padding-bottom: 51%;

    &.fullscreen {
      position:fixed; top:40px; left:0px; 
      bottom:0px; right:0px; width:100%; 
      height:calc(100% - 40px); border:none; 
      margin:0; padding:0; z-index:999999;
      
      .fullscreen-hologram-topbar {
        background-color: #4f0000d1;
        height: 40px;
        width: 100%;
        margin-top: -40px;

        .closeButton {
          font-size: 24px;
          font-weight: bold;
          color: #ffeeee;
          padding: 5px 32px;
          float: right;
          cursor: pointer;
        }
      }
    }
  }

  &.hologram-icon {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 51%;
  }
}

.hologramOverlay {
  z-index: 1000;
  background-color: #480000b0;
  cursor: pointer;
  position: relative;

  &.switched-off {
    background-color: transparent;
  }

  .icons {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .icon {
      width: 56px;
      border-radius: 6px;
      background-color: #fa0000f0;
      cursor: pointer;
      color: #ffeeee;
      padding: 18px 0;
      text-align: center;
      display: inline-block;
      position: absolute;
      top: 50%;

      @include bp-down(sm) {
        width: 33%;
      }

      &.left {
        transform: translateX(-110%) translateY(-50%);
      }

      &.right {
        transform: translateX(10%) translateY(-50%);
      }

    }

    
  }
}

.aspect-ratio iframe, .hologramOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}