/* You can add global styles to this file, and also import other style files */
body {
  background: linear-gradient(to right, #d5ad8e , #ffe5b4);
  color: #540101; /*#ffe5b4;*/
  margin: 0;
  font-family: Georgia;
  font-size: 18px;
  line-height: 1.4;
}

h1, h2, h3 {
  text-align: center;
}