/* You can add global styles to this file, and also import other style files */
body {
  background: #ffe5b4; /* linear-gradient(to right, #3f060f , #e81630);*/
  color: #540101; /*#ffe5b4;*/
  margin: 0;
  font-family: Calibri, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  text-align: center;
  
}

#holominer {
  position: fixed;
  right: 20px;
  top: 20px;
  background: #ffe5b4;
  border-radius: 6px;
  border: 1px solid #540101;
  color: #540101;
  width: 128px;
  height: 64px;
  line-height: 1.2;
  padding: 10px;
}

.button {
  font-weight: bold;
  background: orange;
  padding: 3px 10px;
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
  margin-top: 5px;
}

.minerKitty {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 55px;
  display: none;

  img {
    width: 100%;
  }
}