<div class="navigation">

  <div class="menuHologram">
    <!-- <div *ngIf="itemHoveredName != 'Home'" id="revolverMaps"></div> -->
    <div class="menuItemPreviewName">{{itemPreviewName}}</div>
    <img [hidden]="itemHoveredName != 'Quantum Neurofeedback'" src="http://www.bubbwebhost.co.uk/JMatthews/Block/pictures/brain.gif" alt=""> 
    <img [hidden]="itemHoveredName != 'Holopedia Club'" src="assets/images/menu/club.gif" alt=""> 
    <app-coin [hidden]="itemHoveredName != 'Holopedia Tokens'" [coinObverse]="getHexSide(tokenCoin.ObverseSettings, '100%')" [coinReverse]="getHexSide(tokenCoin.ReverseSettings)"
      [subtitle]="'Quantum Foundation Quantum Qtum'" ></app-coin>
    <app-coin [hidden]="itemHoveredName != 'Projects'" [coinObverse]="getHexSide(doctorCoin.ObverseSettings, '91%')" [coinReverse]="getHexSide(doctorCoin.ReverseSettings)"
      [subtitle]="'Quantum Foundation Quantum Qtum'" [obverseText]="doctorCoin.ObverseText"></app-coin>
    <app-coin [hidden]="itemHoveredName != 'Quantum Foundation'" [coinObverse]="getHexSide(qfCoin.ObverseSettings, '91%')" [coinReverse]="getHexSide(qfCoin.ReverseSettings)"
      [subtitle]="'Quantum Foundation Quantum Qtum'" [obverseText]="qfCoin.ObverseText"></app-coin>
  </div>

  <div class="sevenlevels">
    <!-- <div *ngFor="let item of menuItems">
        <div class="menuitem" (click)="menuItemClicked(item)">{{item.Name}}</div>  rotate('+-i*2+'deg)
    </div> -->
    <div *ngFor="let item of menuItems; let i = index">
      <div class="menuitem" (click)="menuItemClicked(item)" [ngStyle]="{'color': menuColors[i]}">
        <span 
          *ngFor="let nameLetter of item.Name.split(''); let i = index;" 
          (mouseenter)="menuItemHovered(item)"
          (mouseleave)="menuItemBlur()"
          [ngStyle]="{'display': 'inline-block', 'transform': ' translateY('+sineVal(i, item.Name.length)+'px)'}">
          {{ (nameLetter != ' ') ? nameLetter : '&nbsp;' }}
        </span>
      </div>
    </div>
    <div class=""><a href="https://holopediaview.simplesite.com/" target="_blank">Holopedia Portal</a></div>
    <div class=""><a routerLink="links">Holopedia Links</a></div>
    
    
    
  </div>

  <div class="widgets">
    <div class="widget">
      <div class="princesses">
        <img routerLink="/games/princesses" src="assets/images/princesses/princesses.png" alt="">
        Holopedia Princesses game
      </div>
    </div>
  
    <div class="widget">
      <div class="princesses">
        <img routerLink="/games/2048" src="assets/images/2048/2048.png" alt="">
        Holopedia 2048 game
      </div>
    </div>
  
    <div class="widget">
      <div class="princesses">
        <img routerLink="/games/2048_3d" src="assets/images/3d2048_icon.gif" alt="">
        Holopedia 3D 2048 game
      </div>
    </div>
  </div>

  <div class="widget" style="display: none;">
    <div class="princesses" routerLink="/projects/holofactom">
      <img src="assets/images/12star_h_1.png" alt="">
      HoloFactom
    </div>
  </div>

  <div id="revolverMaps"></div>
  
</div>