.navigation {
  zoom: .61;
}

.sevenlevels {
  background-image: url("/assets/images/sevenlevels.png");
  background-repeat: no-repeat;
  height: 316px;
  padding-top: 69px;
  text-align: center;
  max-width: 406px;
  font-size: 20px;
  line-height: 46px;
  margin: -84px auto 84px;
  background-size: 100% 100%;
  letter-spacing: 1px;
  font-weight: 600;
}

.sevenlevels .menuitem {
  cursor: pointer;
  text-decoration: none;
}

path {
  fill: red;
}

text {
  fill: #FF9800;
}

.revolverMaps {
  margin-bottom: -110px;
}

.menuHologram {
  text-align: center;
  height: 300px;

  img {
    height: 260px;
  }
}

.menuItemPreviewName {
  text-align: center;
  vertical-align: middle;
  line-height: 300px; 
  font-size: 32px;
}

.widgets {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 50px 30px;
}

.widget {
  font-size: 26px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;

  img {
    width: 100%;
  }
}